@import "tailwindcss";

@font-face {
  font-family: 'Trap';
  src: url('/fonts/Trap-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trap';
  src: url('/fonts/Trap-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trap';
  src: url('/fonts/Trap-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trap';
  src: url('/fonts/Trap-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trap';
  src: url('/fonts/Trap-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-surface-container-high: #201f1f;
  --color-tertiary-fixed-dim: #efad16;
  --color-primary-container: #ff7a23;
  --color-on-primary-container: #3f1700;
  --color-secondary-container: #454747;
  --color-on-secondary-container: #d0d0d0;
  --color-on-primary-fixed-variant: #4e1e00;
  --color-surface-tint: #f8971d;
  --color-on-tertiary-fixed-variant: #614400;
  --color-surface-container-highest: #262626;
  --color-on-secondary-fixed: #3e4040;
  --color-background: #000000;
  --color-on-tertiary-fixed: #3c2900;
  --color-inverse-primary: #9e4400;
  --color-outline: #777575;
  --color-surface-container: #1a1919;
  --color-on-error: #450900;
  --color-on-surface: #ffffff;
  --color-surface-variant: #262626;
  --color-primary: #f8971d;
  --color-secondary: #404040;
  --color-tertiary: #ffcd72;
  --color-error: #ff7351;

  --font-headline: 'Trap', sans-serif;
  --font-body: 'Trap', sans-serif;
  --font-label: 'Arial', sans-serif;

  --radius: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-full: 9999px;
}

html {
  scroll-behavior: smooth;
}

:root {
  background-color: var(--color-background);
  color: var(--color-on-surface);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.grain-overlay {
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuBhoSxH_EVY9JKcK40hafrJST6ofj4CcJ30wUeQlYHnOzGnQWzrjtlkADgq7Uwkgm15hmfcCDTAXoyxR0RdHpLiN6KJTTJWnFjsKlpuHWSC7XPbMxPH-BIMk8YLlVQwhterH_U4uhSRmru7TQHJte7w54GYlQpq6QFMRyonLDucgHZlfIgyU84iDwqJ-Ocovo_VQG95CbZzMTKefq6grPFdLDu_D3TeSU4vbQ68pCKYvIOKpjHSJ7CO8D2euStOStTRiaI3mRnrzag);
  opacity: 0.03;
  pointer-events: none;
}

.text-stroke {
  -webkit-text-stroke: 1px var(--color-primary);
  color: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
